<div style="overflow: hidden;">
    <div class="body">
        <div class="row">

            <div class="col col-md-4" style="width: 95%;left: 1%;">
                <span> Please click on sentence to label it!
                    <br>
                    Total number of sentences to be annotated are: <b>{{arraylength}} </b> out of <b>
                        {{totalArraylength}} </b>
                    <br>
                </span>
                <br>
                <div class="scroll_div">

                    <div *ngFor="let row of dataArray; let i = index" style="word-wrap: break-word;">
                        <p id={{i}} [innerHTML]="row | noSanitize" (click)="onClick($event)"> </p>
                        <button class="btn btn-danger" (click)="onRemoveClick(i)"> Remove </button>
                        <br><br>


                    </div>
                </div>

            </div>
            <div class="col col-md-1"></div>

            <div class="col col-md-6">
                <div class="row">
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button (click)="onCauseClick()" id="cause" class="btn btn-primary"
                        [ngStyle]="{'background-color': causeButtonColor}"> Cause</button>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button (click)="onoutcomeClick()" id="outcome" class="btn btn-primary"
                        [ngStyle]="{'background-color': outcomeButtonColor}">Outcome</button>
                    &nbsp;
                    &nbsp;
                    &nbsp;

                    <button (click)="onAddYourOwnClick()" id="add" class="btn btn-primary"
                        [ngStyle]="{'background-color': addButtonColor}">Add Your Own Tag</button>
                    &nbsp;
                    &nbsp;
                    <div *ngIf="tagFlag">
                        <input type="text" placeholder="Enter Tag" id="tagName" name="tagName" [(ngModel)]="tagName">
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <span *ngIf="this.data"> <b> ***** Please click on the button above before selecting text to
                            annotate!
                            ***** </b>
                    </span>

                </div>
                <br>
                <br>
                <div class="row">
                    <div (click)="onTextClick($event)" [innerHtml]="data | noSanitize"> </div>

                </div>
                <br>
                <br>
                <div class="row" *ngIf="this.data">
                    <button *ngIf="this.undoFlag" (click)="onUndoClick()" class="btn btn-success"> Undo</button> &nbsp;
                    &nbsp;
                    <button *ngIf="this.redoFlag" (click)="onRedoClick()" class="btn btn-success"> Redo</button> &nbsp;
                    &nbsp;
                    <button (click)="onSaveClick()" class="btn btn-success"> Save changes to data list</button>

                </div>


            </div>

            <div class="col col-md-1"></div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col col-md"></div>
            <div class="col col-md">
                <button (click)="onDownloadClick()" class="btn btn-success"> Download data </button>
            </div>
            <div class="col col-md"></div>

        </div>
    </div>


    <br>
    <br>
    <br>

    <app-footer></app-footer>
</div>