<div style="overflow: hidden;">
    <div class="body">
        <div class="row">
            <div class="col col-md-1"></div>

            <div class="col col-md-3">
                Please click on sentence to select from list of data given below!
                <br>
                <br>

                <div *ngFor="let row of dataArray; let i = index">
                    <!-- <p id={{i}} [innerHTML]="row" (click)="onClick(this.id)"></p> -->
                    <div id={{i}} [innerHTML]="row | noSanitize" (click)="onClick($event)"></div>
                    <br>
                </div>

            </div>
            <div class="col col-md-1"></div>

            <div class="col col-md-7">
                <div class="row">
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button (click)="onCauseClick()" class="btn btn-primary">Cause</button>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button (click)="onOutputClick()" class="btn btn-primary">Output</button>
                </div>
                <br>
                <br>
                <div class="row">
                    <span *ngIf="this.data"> ***** Please click on the button above before selecting text to annotate!
                        *****
                    </span>
                    <br>
                    <br>
                    <div (click)="onTextClick($event)" [innerHtml]="data | noSanitize"> </div>
                    <div>
                        <br>
                        <button *ngIf="this.data" (click)="onSaveClick()" class="btn btn-success"> Save changes to data
                            list</button>
                    </div>
                    
                </div>
                <br>
                <br>
                <div class="row">
                    <button  (click)="onDownloadClick()" class="btn btn-success"> Download data </button>
                </div>
            </div>
        </div>

    </div>


    <br>
    <br>
    <br>


</div>