<div style="overflow: hidden;">
    <div class="body">
        <div class="row">

            <div class="col col-md-3" style="width: 500px;left: 3%;">
                <span> Please click on sentence to label it!
                    <br> Total Annotate sentence are: <b>{{arraylength}} </b> <br></span>
                <br>
                <div style="overflow-y: auto; height: 550px; width: 500px;">
                    <div *ngFor="let row of dataArray; let i = index" style="text-align: justify; font-size:smaller; ">
                        <div id={{i}} [innerHTML]="row | noSanitize" (click)="onClick($event)"> </div>
                        <button class="btn btn-link" (click)="onRemoveClick(i)"> Remove </button>
                        <br><br>

                    </div>
                </div>

            </div>
            <div class="col col-md-1"></div>
            <div class="col col-md-1"></div>

            <div class="col col-md-7">
                <div class="row">
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button (click)="onCauseClick()" class="btn btn-primary">Cause</button>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button (click)="onoutcomeClick()" class="btn btn-primary">Outcome</button>
                </div>
                <br>
                <br>
                <div class="row">
                    <span *ngIf="this.data"> ***** Please click on the button above before selecting text to annotate!
                        *****
                    </span>
                    <br>
                    <br>
                    <div (click)="onTextClick($event)" [innerHtml]="data | noSanitize"> </div>
                    <div>
                        <br>
                        <button *ngIf="this.data" (click)="onSaveClick()" class="btn btn-success"> Save changes to data
                            list</button>
                    </div>

                </div>
                <br>
                <br>
                <div class="row">
                    <button (click)="onDownloadClick()" class="btn btn-success"> Download data </button>
                </div>
            </div>
        </div>

    </div>


    <br>
    <br>
    <br>

    <app-footer></app-footer>
</div>