<br>
<div style="overflow: hidden;">
    <div class="body">
        <div class="row">
            <div class="col col-md"></div>
            <div class="col col-md">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="card card-small" tabindex="0">
                                    <span> <a href="https://lnkd.in/dFFNWg9C"> <b> Tutorial and User Guide </b> </a>
                                    </span>

                                </div>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                <div class="card card-small" tabindex="0">
                                    <span> <a href="https://caustator.herokuapp.com/"> <b> Online version </b>
                                        </a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <small style="color: red;  text-align: center;">
                                    * Download and install to use at a local computer environment.
                                </small>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                <small style="color: red; text-align: center;">
                                    * Use it online through API </small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col col-md"></div>
        </div>


        <br>
    </div>
    <br>
    <br>
    <br>
    <app-footer></app-footer>
</div>