<br>
<div style="overflow: hidden;">
    <div class="body">
        <div class="row">
            <div class="col col-md"></div>
            <div class="col col-md">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="card-container">
                                    <div class="card card-small" tabindex="0">
                                        <span> <a href="https://lnkd.in/dFFNWg9C" style="color: white;;"> <b> Download and use it locally </b> </a>
                                        </span>

                                    </div>
                                </div>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                <div class="card-container">
                                    <div class="card card-small" tabindex="0" (click)="goToMainPage()">
                                        <span> <b> {{buttonName}} </b>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col col-md"></div>
        </div>


        <br>
    </div>
    <br>
    <br>
    <br>
    <app-footer></app-footer>
</div>